/* ----------------------------------------------------------------------
 * Global
 ----------------------------------------------------------------------*/
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logo {
    padding-left: 10px;
    font-size: 32px;
}

.the-rest-of-the-app {
    margin-left: 10px;
}

.hanzi {
    font-family: Times, serif;
}


/* ----------------------------------------------------------------------
 * Search Box
 ----------------------------------------------------------------------*/

#searchBar {
    width: 63%;
    height: 40px;
    font-size: 24px;
    outline: none;
    border: 1px solid black;
    vertical-align: middle;
}


/* ----------------------------------------------------------------------
 * HSK
 ----------------------------------------------------------------------*/





/* ----------------------------------------------------------------------
 * Search Buttons
 ----------------------------------------------------------------------*/

