<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> google_analytics}}
    <style>
        body {
            text-align: center;
        }
        .huge {
            font-size: 72px;
        }
        .less-huge {
            font-size: 36px;
        }
        .not-huge {
            font-size: 24px;
        }
    </style>
</head>
<body>

<div class="huge">干净</div>
<hr>
<div class="less-huge">{{version}}</div>
<div class="not-huge">{{date}}</div>
<div class="not-huge">{{dbs}}</div>

</body>
</html>
