<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <!-- There is no file main.css. Express middleware takes main.less, compiles it and sends main.css -->
    <link rel='stylesheet' href='/css/dict/main.css'/>

    {{> google_analytics}}
</head>
<body>
{{! I have Mithril configured to attach to the body so nothing is here }}
<script src="/webpack-bundle.js"></script>
</body>
</html>
