<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>干净 gānjìng - Type Pinyin</title>
    <!-- There is no file main.css. Express middleware takes type-pinyin.less, compiles it and sends type-pinyin.css -->
    <link rel='stylesheet' href='/css/type-pinyin/type-pinyin.css'/>
</head>

<body>
<nav class="tab-container">
    <div class="tabs-list"></div>
</nav>
<textarea id="textarea"></textarea>

<script src="/webpack-bundle-type-pinyin.js"></script>

</body>
</html>
